<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content dark-bg">
                    <h2>Individual tutoring in <em>person</em> and <em>online</em></h2>
                    <p>Getting help is easier than you think. Our tutors fit your needs and schedule.</p>
                    <div class="scroll-to-section">
                        <a class="btn btn-primary" href="{{ '/#contact-us' | relative_url }}" role="button">Contact
                            Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->