<!-- ***** Subjects Start ***** -->
<section class="section" id="subjects">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2><em>Subjects</em> we tutor</h2>
                    {%- asset separator.svg @inline -%}
                    <p>Need Math, Statistics or Economics assistance? Our tutors can help. From high school to advanced
                        degree programs, we will give you the power to succeed in your learning goals. Meet with our
                        tutors
                        weekly to turn a class, MOOC, or self study into a personalized tutorial.</p>
                </div>
            </div>
        </div>
        <div class="row subjects">
            {%- for subject in site.subjects -%}
            <div class="col-md-6 item">
                <div class="row">
                    <div class="col-5 col-md-6 col-lg-4 col-xxl-3 icon">
                        {%- asset '{{ subject.icon }}' class="img-fluid mx-auto" alt="{{ subject.title }}" -%}
                        <a href="{{ subject.url }}" class="text-button">Discover More</a>
                    </div>
                    <div class="col">
                        <h3 class="name">{{ subject.title }}</h3>
                        {{ subject.content | split: '<!-- more -->' | first | markdownify }}
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<!-- ***** Subjects End ***** -->