<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2020 {{ site.title }}</p>
            </div>
        </div>
        <div class="row">
            <ul class="social-icons">
                {%- if site.social.facebook -%}
                <li><a href="{{ site.social.facebook | cgi_escape | escape | prepend: 'https://www.facebook.com/' }}"
                        title="{{ site.social.facebook | escape }}" target="_blank"><svg>
                            <use
                                xlink:href="{{ '/assets/images/icons/minima-social-icons.svg#facebook' | relative_url }}">
                            </use>
                        </svg></a></li>
                {%- endif -%}
                {%- if site.social.linkedin -%}
                <li><a href="{{ site.social.linkedin | cgi_escape | escape | prepend: 'https://www.linkedin.com/company/' }}"
                        title="{{ site.social.linkedin | escape }}" target="_blank"><svg>
                            <use
                                xlink:href="{{ '/assets/images/icons/minima-social-icons.svg#linkedin' | relative_url }}">
                            </use>
                        </svg></a></li>
                {%- endif -%}
                {%- if site.social.twitter -%}
                <li><a href="{{ site.social.twitter | cgi_escape | escape | prepend: 'https://twitter.com/' }}"
                        title="{{ site.social.twitter | escape }}" target="_blank"><svg>
                            <use
                                xlink:href="{{ '/assets/images/icons/minima-social-icons.svg#twitter' | relative_url }}">
                            </use>
                        </svg></a></li>
                {%- endif -%}
                {%- if site.social.github -%}
                <li><a href="{{ site.social.github | cgi_escape | escape | prepend: 'https://github.com/' }}"
                        title="{{ site.social.github | escape }}" target="_blank"><svg>
                            <use
                                xlink:href="{{ '/assets/images/icons/minima-social-icons.svg#github' | relative_url }}">
                            </use>
                        </svg></a></li>
                {%- endif -%}
                {%- if site.social.opencollective -%}
                <li><a href="{{ site.social.opencollective | cgi_escape | escape | prepend: 'https://opencollective.com/' }}"
                        title="{{ site.social.opencollective | escape }}" target="_blank"><svg>
                            <use
                                xlink:href="{{ '/assets/images/icons/minima-social-icons.svg#opencollective' | relative_url }}">
                            </use>
                        </svg></a></li>
                {%- endif -%}
                {%- if site.social.email -%}
                <li><a href="{{ site.social.email | cgi_escape | escape | prepend: 'mailto:' }}"
                        title="{{ site.social.email | escape }}"><svg>
                            <use
                                xlink:href="{{ '/assets/images/icons/minima-social-icons.svg#email' | relative_url }}">
                            </use>
                        </svg></a></li>
                {%- endif -%}
            </ul>
        </div>
    </div>
</footer>
<!-- ***** Footer End ***** -->