<nav id="navbar" class="navbar navbar-expand-lg {% if page.layout == 'home' %} transparent-navbar{% endif %}">
    <div class="container">
        <a href="{{ '/' | relative_url }}" class="navbar-brand">
            {% include tools/finalword.html content=site.title %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#top" class="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#subjects">Subjects</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link btn btn-primary" href="#contact-us" role="button">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>