<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {%- seo -%}

    {%- include favicon.html -%}

    <style>
        {%- capture scss_sheet -%}{%- include loader.scss -%}{%- endcapture -%}
        {{ scss_sheet | scssify }}
    </style>

    <!-- JS Files -->
    <script src="{{ '/assets/js/loading-attribute-polyfill.min.js' | relative_url }}" async></script>
</head>