<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky{% unless page.layout == 'home' %} background-header{% endunless %}">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <!-- ***** Logo Start ***** -->
                <a href="{{ '/' | relative_url }}" class="navbar-brand">
                    {% include tools/finalword.html content=site.title %}
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <input type="checkbox" id="menu">
                <label for="menu" class="navbar-toggler menu-trigger">
                    <span>Menu</span>
                </label>
                <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ '/#top' | relative_url }}"
                            class="active">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/#features' | relative_url }}">
                            Subjects</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="{{ '/#about' | relative_url }}">About</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-primary"
                            href="{{ '/#contact-us' | relative_url }}" role="button">Contact Us</a></li>
                    </li>
                </ul>
                </div>
                <!-- ***** Menu End ***** -->
            </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->