// colors
$main-color: #00B4FF;
$highlight-color: #DD557E;
$hover-color: #47C8FF;

$text-dark: #1E1E24;
$text-light: #545464;

// fonts
$main-font: 'Poppins', sans-serif;

// media widths
$lgtabletwidth: 1000px;
$mdtabletwidth: 1000px;
$phonewidth: 450px;
$lgdesktodwidth: 1200px;


$capri: #00b4ffff;
$magnolia: #f8f1ffff;
$thistle: #decdf5ff;
$old-lavender: #656176ff;
$dark-liver: #534d56ff;

$capri: #00b4ffff;
$rifle-green: #4e5340ff;
$nickel: #697268ff;
$alabaster: #e2e8ddff;
$venetian-red: #bf211eff;