// colors
$main-color: #00B4FF;
$highlight-color: #c93bed;
$hover-color: #76d6ff;

$text-dark: #232d39;
$text-light: #7a7a7a;

// fonts
$main-font: 'Poppins', sans-serif;

// media widths
$lgtabletwidth: 1000px;
$mdtabletwidth: 1000px;
$phonewidth: 450px;
$lgdesktodwidth: 1200px;
