// colors
$main-color: #00B4FF;
$highlight-color: #DD557E;
$hover-color: #47C8FF;

$text-dark: #1E1E24;
$text-light: #545464;

// fonts
$main-font: 'Poppins', sans-serif;

// media widths
$lgtabletwidth: 1000px;
$mdtabletwidth: 1000px;
$phonewidth: 450px;
$lgdesktodwidth: 1200px;
