.contact-form {
  padding: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), asset_url("books-min.jpg @optim");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;

  h2 {
    font-size: 28px;
  }

  label {
    color: $dark;
  }

  textarea {
    resize: none;
  }

  button {
    font-size: 13px;
    padding: 11px 17px;
  }
}

#contact {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}
  
#lock-modal {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}
  
#loading-circle {
  position: absolute;
  color: $primary;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}